.jumbotron {
    /* background-image: url("images/main.jpg"); */
    background-attachment: fixed;
    background-size: cover;
    background-color: white;
  }

.jumbotron1 {
    background-image: url("images/main.jpg");
  }

  .jumbotron2 {
    background-image: url("images/banner2.jpg");
  }

.logo {
    padding: 10%;
    max-width: 100%;
    max-height: 100%;   
}

.icon {
    max-width: 50%;
    max-height: 50%;  
    align-content: center;
    align-items: center;
    column-fill: auto;
    object-position: center;
}

.small-icon {
    max-width: 30%;
    max-height: 30%;  
    align-content: center;
    align-items: center;
    column-fill: auto;
    object-position: center;
}

.row {
    height: 300px;
    margin: 0%;
}

.row-height-300px {
    height: 300px;
}

.row-narrow {
    height: 150px;
}

.headline {
    /* padding: 120px; */
    font-family: 'Permanent Marker';
    font-size: 80px;
}

.white-color {
    color: white;
}

.large-font-size {
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 25px;
}

.white-background {
    background-color: white;
}

/* 
.wrapper {
    position: relative;
    height: 100vh;
} */